.container {
    /* padding: 1em; */
    max-width: 100% !important;
    width: 100% !important;
    /* margin: 0 auto; */
}

.title {
    font-size: 1.5em;
    margin-bottom: 1em;
    text-align: center;
}

.data-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 1em;
    border: 1px solid #ccc;
    border-radius: 0.5em;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.data-table table {
    width: 100%;
    border-collapse: collapse;
}

.data-table th, .data-table td {
    padding: 0.75em;
    text-align: center;
    border-bottom: 1px solid #ddd;
}

.data-table th {
    background-color: #f4f4f4;
    font-weight: bold;
}

.delete-button {
    background-color: black;
    color: white;
    border: none;
    border-radius: 0.3em;
    padding: 0.5em 1em;
    cursor: pointer;
    transition: background-color 0.3s;
}

.delete-button:hover {
    background-color: darkgrey;
}
